<!DOCTYPE html>
<html>
  <head>
    <title>Nabeel Ahmed test app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Nabeel Ahmed Test App</h1>
    <p>Nodejs website hosted with azure app service with github repo continuous deployment</p>
    <p><b>This is a commit update gitdeploy through Azure Web Service</b></p>
    <p><b>This is a second test gitdeploy</b></p>
  </body>
</html>
